.main-nav {
    padding: 20px;
    box-sizing: border-box;
    height: 120px;
    background-color: #000;
}

.main {
    box-sizing: border-box;
    background-color: #fff;
    float: right;
    width: 66%;
    padding: 40px;
    position: relative;
    border: 1px solid #ececec;
    margin: 2%;
}
#root > div > section > div > div {
    position: relative!important;
    display: block!important;
        
}

.update-recipe {
    padding: 40px;
    position: relative;
    background-color: #ececec;
    box-shadow: #ccc 10px 10px 20px;
    margin: 20px 0 0 20px;
}

.sidebar {
    box-sizing: border-box;
    background-color: #ececec;
    float: left;
    width: 30%;
    padding: 40px;
    .btn {
        margin-top: 15px;
        display: block;
    }
}

.recipe-header {
    position: relative;
}

.recipe-btns {
    position: absolute;
    top: 0;
    right: 0;
    .btn {
        margin-left: 15px;
    }
}

.update-recipe {
    .recipe-btns {
        top: 40px;
        right: 40px;
    }
}

.btn {
    &.btn-no-margin {
        margin-top: 0;
        margin-right: 0;
    }
}

.form-group {
    .btn {
        margin-right: 15px;
    }
}

.placeholder {
    color: #999;
}

.link {
    cursor: pointer;
    color: #337ab7;
    &:hover {
        text-decoration: underline;
    }
}

.recipe-name {}

.directions .panel-body {
    white-space: pre;
}

.directions-text {
    min-height: 200px;
}
